Modules/Sms
Modules/Email
Modules/Telegram
Modules/Contabilita
storage/app/public/attachments/*
storage/app/public/oratorio/*
storage/app/public/profile/*
storage/framework/views/*
storage/framework/cache/*
/public/upload
/vendor
/storage/*.key
resources/views/piwik.blade.php
.env
