Modules/Sms
Modules/Email
Modules/Telegram
Modules/Contabilita
/vendor
node_modules/
npm-debug.log

# Laravel 5 & Lumen specific
!public/
public/storage/*
!public/storage/template
/public/upload
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
resources/views/piwik.blade.php
