.container{
	width: 90%;
}

@media print{
	.container{
		width: 100%;
	}
}
table.testgrid {
	border-collapse: collapse;
	border: 1px solid #CCB;
	width: 100%;
	font-size: 14px;
}

table.testgrid tr {
	border-bottom: 1px solid #DDD;
}


table.testgrid th {
	/* background: #E5E5E5; */
	background: #ff944d;
	border: 1px solid #D5D5D5;
	color: #555;
	text-align: left;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap;
}

table.testgrid td {
	padding: 5px;
	border: 1px solid #E0E0E0;
}
table.testgrid i {
  font-size: 1.5em;
  cursor: pointer;
}

table.testgrid tr:nth-child(odd) {
    background: #ffe0cc;
}

.panel-left {
	width: 50%;
	float: left;
	margin-right: 2%;
}

.panel-right {
	width: 48%;
	float: left;
}

.panel-3-left {
	width: 32%;
	float: left;
	margin-right: 2%;
}

.panel-3-center {
	width: 32%;
	float: left;
	margin-right: 2%;
}

.panel-3-right {
	width: 32%;
	float: left;
}

.box-subscribe{
	border-radius: 10px;
	float: left;
	width: 32%;
	height: 0;
	margin: 0.5%;
	padding: 5px;
	padding-bottom: 30%;
	color: black;
}
.box-subscribe-title{
	border-radius: 10px;
	width: 100%;
	background: white;
	opacity: 0.7;
	margin-bottom: 10px;
	text-align: center;
}

.box-subscribe-description{
	padding: 5px;
	width: 100%;
	background: white;
	opacity: 0.7;
}
